.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Cor escura de fundo do menu */
    z-index: 100;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    position: relative;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu li:hover {
    background-color: #555; /* Cor escura de fundo ao passar o mouse */
  }
  
  .menu li.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px; /* Altura da faixa branca de indicação */
    background-color: #fff; /* Cor da faixa branca */
  }
  